$border: linear-gradient(180deg, #fcdcba 0%, #fbcdf2 41.54%);
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  // // background-image: url('src\app\Resources\cloud.jpg');
  // background-size: cover;
  // background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;

  #label{
    background-image:$border;
    border-radius:25% 0 25% 0;
    margin:0px 0px 10px 29px ;
    font-family: 'Poiret One', cursive;
    font-size:1.25rem;
    font-weight:600;
    }
    select{
      background:none;
    }
}


